<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Halaman Login</title>
    </head>
    <body>

        <h1>Register</h1>
        <form action="/register" method="POST">
            <label for="">Username</label>
            <input type="text" name="username" value=""><br>

            <label for="">Password</label><br>
            <input type="password" name="password" value=""><br>

            <label for="">Jumlah Client</label><br>
            <input type="radio" id="male" name="gender" value="male">
            <label for="male">100</label><br>
            <input type="radio" id="female" name="gender" value="female">
            <label for="female">500</label><br>
            <input type="radio" id="other" name="gender" value="other">
            <label for="other">Other</label><br><br>

            <label for="">Waktu Kerja Dalam Sehari</label><br>
            <input type="radio" id="male" name="gender" value="male">
            <label for="male">100</label><br>
            <input type="radio" id="female" name="gender" value="female">
            <label for="female">500</label><br>
            <input type="radio" id="other" name="gender" value="other">
            <label for="other">Other</label><br><br>

            <input type="submit" name="" value="Register">
        </form>

    </body>
</html>